* {
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
main {
  height: 88%;
}
/**************header************/

header.main-header {
  background-color: orange;
  height: 12%;
  width: 100%;
}
.header-container {
  height: 100%;
  padding: 1rem;
  justify-content: space-between;
}
.logo {
  height: 70%;
  align-self: center;
  cursor: pointer;
}
.open-menu-btn {
  height: 70%;
  background: none;
  align-self: center;
  cursor: pointer;
}

/**************main************/

/**************homePage************/
.search {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 20%;
}
.search .search-bar {
  margin-top: 0.4rem;
  box-shadow: inset 0px -2px 0px 0px #646464;
  width: 80%;
}
.search-input {
  box-shadow: inset 0px -2px 0px 0px #646464;
  border: 0;
  color: #7a7a7a;
  font-size: 1.1875rem;
  width: 90%;
}

.search div {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
/**************keywords************/
.key-words {
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
}
.search-btn {
  width: 7%;
  min-width: 40px;
  max-width: 50px;
  align-self: center;
  padding: 0.4rem;
  cursor: pointer;
}
a .more-keywords {
  cursor: pointer;
  box-shadow: inset 0px -2px 0px 0px #7a7a7a;
}
/**************image gallery************/
.img-gal {
  background-color: rgba(214, 214, 214, 0.699);
  width: 100%;
  height: 80%;
  overflow: scroll;
}
.img-gal div {
  flex-wrap: wrap;
}
.img-gal img {
  cursor: pointer;
  width: 50%;
  padding: 0.33rem;
}
/**************editor************/
.editor {
  background-color: rgba(214, 214, 214, 0.699);
  height: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
canvas {
  left: 0;
  top: 0;
  display: inline-block;
  position: absolute;
}
.canvas-container.container {
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 350px;
}
.editor .display {
  margin-bottom: 2%;
}
.editor .controls {
  height: 50%;
}
/**************editor-controls************/
.btn-container {
  height: 100%;
}
.txt-line {
  border-radius: 12px;
  width: 100%;
  border: 0;
  height: 13%;
  margin-bottom: 2%;
  padding :2%
}
.add-remove-btns {
  justify-content: space-around;
  height: 17%;
  padding: 0 6%;
  margin-bottom: 4%;
}
.add-remove-btns button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  max-width: 40px;
}
.txt-style-btns {
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30%;
}
.txt-style-btns button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}

.txt-style-btns :first-child {
  margin-left: 0;
}
.txt-style-btns select {
  width: 55%;
  border: 0;
  border-radius: 12px;
  background-color: white;
}
.txt-style-btns label {
  cursor: pointer;
  border: 0;
  border-radius: 12px;
  background-color: white;
  width: 40px;
  height: 40px;
}

.btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 2%;
}
.btn-container button > img {
  width: 1rem;
}
.btn-container label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container label > img {
  width: 1rem;
}
.btn-container input {
  position: absolute;
  top: -100%;
}
/**************footer************/
footer {
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 150px;
  width: 100%;
}

/**************helpers************/
.container {
  width: 95%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.hide {
  display: none;
}
