* {
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
/**************header************/

header.main-header {
  background-color: orange;
  height: 6rem;
  width: 100%;
}
.header-container {
  height: 100%;
  padding: 1rem;
  justify-content: space-between;
}
.main-header .logo {
  height: 100%;
  justify-self: flex-start;
}
.main-header .open-menu-btn {
  height: 100%;
  background: none;
  justify-self: flex-end;
}

/**************main************/

/**************homePage************/
.search {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
}
.search .search-bar {
    margin-top: 0.4rem;
  box-shadow: inset 0px -2px 0px 0px #646464;
  width: 80%;
}
.search-input {
  box-shadow: inset 0px -2px 0px 0px #646464;
  border: 0;
  color: #7a7a7a;
  font-size: 1.1875rem;
  width: 90%;
}

.search div {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
/**************keywords************/
.key-words {
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
}
.search-btn {
    width: 10%;
    align-self: center;
    padding: 0.4rem;
    cursor: pointer;
}
a .more-keywords {
    cursor: pointer;
  box-shadow: inset 0px -2px 0px 0px #7a7a7a;
}
/**************image gallery************/
.img-gal {
  background-color: rgba(214, 214, 214, 0.699);
  width: 100%;
}
.img-gal div {
  flex-wrap: wrap;
}
.img-gal img {
    cursor: pointer;
  width: 50%;
  padding: 0.33rem;
}
/**************editor************/
.editor{
    background-color: rgba(214, 214, 214, 0.699);
}
.canvas-container.container{
  overflow: hidden;
}
/**************editor-controls************/
.btn-container.container button{
  display: flex;
  justify-content: center;
  align-items:center;
}
.btn-container.container button> img{
  width:1rem;
  }
  .btn-container.container label{
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .btn-container.container  label> img{
    width:1rem;
  }
  .btn-container.container  input{
    position: absolute;
    left:-99999999;
  }
/**************footer************/
footer {
    justify-content: center;
    align-items: center;
  background-color: orange;
  height: 15rem;
  width: 100%;
}


/**************helpers************/
.container {
  width: 95%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.hide {
  display: none;
}
